

  body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #000000, #2575fc);
  background-image: url(https://images.unsplash.com/photo-1560185009-dddeb820c7b7?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
}

.logo img {
  width: 100px; 
  height: 100px; 
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 60px;
}



.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background: rgb(230, 176, 84);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.text {
  color: #ead6ae;
  font-size: 28px;
  font-weight: 700;
}



.inputs {
  width: 100%;
}

.input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input img {
  width: 20px;
  margin-right: 15px;
}

.input input {
  flex: 1;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.forgot-password {
  text-align: right;
  margin-top: 10px;
  font-size: 14px;
}

.forgot-password span {
  color: #81550b;
  cursor: pointer;
}

.submit-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 30px;
}

.submit {
  flex: 1;
  height: 40px;
  display: flex;
  gap: 50px;
  width: auto;
  justify-content: center;
  align-items: center;
  color: #d7bb79;
  background: #594205;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.gray {
  background: #eaeaea;
  color: #676767;
  gap: 50px;
  width: 100px;
}
